body{
    background-color: brown;
}

.user_registrered{
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
}

.container_user{
    width: 600px;
    margin: 0 auto;
}